  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
			<%= image_tag "lakeshorepic.jpg" %>
 		  <div class="container">
            <div class="carousel-caption">
              <h1>Gold Coast</h1>
              <p>Looking for an apartment on the Lake Shore?</p>
              <p><a class="btn btn-lg btn-primary" href="/users/new" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
         	<%= image_tag "beanpic.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>North Loop</h1>
              <p>Looking for the quick commute Downtown?</p>
              <p><a class="btn btn-lg btn-primary" href="/information" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag "riverpic.jpg" %>
           --><div class="container">
            <div class="carousel-caption">
              <h1>Streeterville</h1>
              <p>Looking for the Water Taxi?</p>
              <p><a class="btn btn-lg btn-primary" href="/properties" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->