<%= form_for(@tenant_of) do |f| %>
  <% if @tenant_of.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenant_of.errors.count, "error") %> prohibited this tenant_of from being saved:</h2>

      <ul>
      <% @tenant_of.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="email">Email</label>
    <input type="string" name="email" class="form-control" id="email" placeholder="Enter User's Email Here">
  </div>

  <div class="field">
    <input type="hidden" value="<%= @property.id %>" name="propertyID" id="propertyID">
  </div>
  
  <p>
  User must be registered to be added as a tenant!
  </p>
  
  <div class="actions">
      <button type="submit" class="btn btn-primary">Create New Tenant</button>
  </div>
<% end %>
