<h1>New application</h1>

<%= render 'form' %>
<p>Note: Submitting this application will send personal information to property Manager.</p>
<%= link_to 'Back', applications_path, class: "btn btn-info" %>
